
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
li, a, button{
    text-decoration: none;
    
    }
    
    header{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10%;  
        box-sizing: border-box;
        margin-top: 10px;
    }
    
    
    .logo{
        
    height: 35px;

    cursor: pointer;
    }
    
    .nav-links{
        
        list-style: none;
        
    }
    
    .nav-links li{
        
        display: inline-block;
        padding: 0px 20px;
       
    }
    
    .nav-links li a{
    font-weight: bold;
    color: black;
    transition: all 0.3s ease 0s;
    
    }
    
    .nav-links li a:hover{
        color: rgb(83, 194, 19);
    
    }
    
    button{
        padding: 9px 25px;
        background-color: black;
        border-radius: 9px;
        border: none;
        cursor: pointer;
        color: white;
    }
    button:hover{
     background-color: white;
     color:black;
    }
    .nv-right{
        position: absolute;
        margin-top: -15px;
        top: 75px;
        box-sizing: border-box;
        background-color: red;
        width:100% ;
        height: 45px;
        left: 0px;
    }
    #time-left{
        color: white;
        font-size: 30px;
        margin-left: 20px;
        margin-top: 6px;
        font-family: 'Righteous', cursive; 
        list-style: none;
    }
    #time{
        color: red;
        font-size: 20px;
        margin-left: 1100px;
        margin-top: -33px;
        list-style: none;
        background-color: white;
        border-radius: 5px;
        margin-right: 80px;
        text-align: center;
        font-weight: bold ;
        box-shadow: rgb(119, 119, 119) -1px 1px;
    }
    .camera{
        position: absolute;
        width: 100%;
        left: 160px;
        top: 10px;
        box-sizing: border-box ;
        height: 80vh;
        background-color: black;
         margin-top: 95px;
         margin-left: -160px;
    }
    #imgc{
        float: right;
        margin-top: 50px;
        margin-right: 50px;
        width: 320px;
    }
    .delel
    {
        position :absolute;
        margin-left: 8%;
        margin-top: 55%;
        font-family: sans-serif;
    }
    
    .delel h1{
        font-size: 50px;
        color: #fff;
        margin-bottom: 20px;
    
    }
    
    span{
        color: red;
    }
    
    .delel p{
        color: rgb(240, 236, 236);
        line-height: 22px;
        margin-left: 20px;
    }
    .delel a{
        background: #fff8f8;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        display: inline-block;
        margin: 40px 0;
        border-radius: 5px;
    
    
    }
    h2{
        color: red;
        float: right;
        margin-right: -630px;
        font-size: 105px;
         
    }


    #flos{
        color: greenyellow;
    
    }
    #t2{
       font-size: 50px;
       font-weight: bold;
       margin: 25px 38px;
       line-height: 50px;
       margin-left: 15px;
   }
   #band1{
       position: absolute;
       color: black;
       font-family: 'Righteous', cursive;
       font-weight: 400;
       background:white;
       box-sizing: border-box;
       font-size: 27px;
       
       margin-top: 37px;
       text-align: center;
       padding-top: 9px;
       top: 580px;
       left: 190px;
   }
   .img30{
     position: absolute;
     z-index: 33;
     margin-top: 300px;
    margin-left: 30%;
    
}

 #familyphoto{
     position: absolute;
     width: 1286px;
     left: 218px;
     top: 404px;
     margin-top: 280px;
     margin-left: -240px;
 }
 #band2{
    position: absolute;
    color: black;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 27px;
    width: 140vh;
    left: 180px;
    margin-top: 1600px;
    margin-left: -130px;
    text-align: center;
    padding-top: 19px;
    padding-left: 320px;
}
 #vloger{
    position: absolute;
    width: 1264px;
    left: 0px;
    top: 1720px;
    
   }
   #textvlog{
       position: absolute;
       color: rgb(0, 0, 0);
       top: 2400px;
       text-align: center;
       font-size: 28px;
   }



   /* fooooooooooooooooooooooooooooooooooooooooooter */

   .fo{
       
       margin-top: 2600px;
   }
     .p a{
     color: white;
}

    .p1{
    margin-top: 2500px;
    text-decoration: none;
    border-radius: 44px;
    background-color: black;
    position: absolute;
    width: 356px;
    height: 428px;
    left: 25px;
    top: 77px;
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.363) -5px 8px;

}

.p2{
    margin-top: 2500px;
    text-decoration: none;
    border-radius: 44px;
    background-color: black;
    position: absolute;
    width: 356px;
    height: 428px;
    left: 450px;
    top: 77px;
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.363) -5px 8px;
}

.p3{
    margin-top: 2500px;
    text-decoration: none;
    border-radius: 44px;
    background-color: black;
    position: absolute;
    width: 356px;
    height: 428px;
    left: 900px;
    top: 77px;
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.363) -5px 8px;

}




/* text */
.p1 p{
    margin-top: 25px;  
  }
.p2 p{
    margin-top: 25px;  
  }
.p3 p{
  margin-top: 25px;  
}



/* imgs */

.imgs{
    grid-template: 2;
    position: absolute;
margin-top: 555px;
margin-left: 100px;
    
}
.imgs1{
    width: 400px;
}

.imgs2{
    width: 500px;
}


.btn{
    position: absolute;
    padding: 9px 45px;
    background-color: black;
    border-radius: 9px;
    cursor: pointer;
    width: 490px;
    margin-top: 1060px;
    margin-left: 350px;
    box-sizing: border-box;
    

}

.btn a{
    font-size: 26px;
    text-decoration: none;
    color: white;
}

.copyrhit{
    color: #fff;
    width: 100%;
    height: 35px;
    background-color: black;
    position: absolute;
    margin-top: 1190px;
    padding-top: 8px;
    padding-left: 20px;
}



/* Media Queries */



/* small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) 
  {
   
    .nav-links li {
        display: none;

    }

    #imgc{
        float: right;
        margin-top: 50px;
        margin-right: 40px;
        width: 120px;

    }
    .delel
    {
        position :absolute;
        margin-left: -29px;
        margin-top: 700px;
        font-family: sans-serif;
    }

    .delel h1{
        font-size: 25px;
        color: #fff;
        margin-bottom: 20px;
    
    }
    
    span{
        color: red;
    }
    
    .delel p{
        color: rgb(240, 236, 236);
        line-height: 22px;
        margin-left: 18px;
        font-size: 11px;
    }
    .delel a{
        background: #fff8f8;
        padding: 9px 20px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        display: inline-block;
        margin: 40px 0 0 65px;
        border-radius: 5px;
    
    
    }
   
    #flos{
        color: greenyellow;
    
    }

    #t2{
        font-size: 25px;
        font-weight: bold;
        margin: 25px 38px;
        line-height: 30px;
        margin-left: 15px;
        }

        button{
            margin-top: 10px;
            margin-left: 60px;
           
            padding: 5px 20px;
            background-color: black;
            border-radius: 9px;
            border: none;
            cursor: pointer;
            color: white;
        }
        
        .logo{
            
            position: absolute;
            margin-top: 2px;
            margin-left: -28px;
            height: 24px;
            
            cursor: pointer;
            }
            .nv-right{
                position: absolute;
                margin-top: -15px;
                top: 75px;
                box-sizing: border-box;
                background-color: red;
                width:100% ;
                height: 45px;
                left: 0px;
            }
                

          


              #familyphoto{
                position: absolute;
                width: 435px;
                left: 218px;
                top: 404px;
                margin-top: 230px;
                margin-left: -240px;
            }

            #band1{
                position: absolute;
                color: black;
                font-family: 'Righteous', cursive;
                font-weight: 400;
                background:white;
                box-sizing: border-box;
                font-size: 10px;
                margin-top: -40px;
                padding-top: 9px;
                top: 640px;
                left: 25px;
                margin-left: -1px;
            }
            .camera{
                position: absolute;
                height: 120vh;
                width: 100%;
                left: 160px;
                top: -10px;
                box-sizing: border-box ;
                background-color: black;
                margin-top: 95px;
                margin-left: -160px;
               }  

               
                 #vloger{
                position: absolute;
                width: 413px;
                left: 0px;
                top: 1000px;
                }
                 
                .h2{
                   display: none;
                      
                }
                #band2{
                    position: absolute;
                    color: black;
                    font-family: 'Righteous', cursive;
                    font-weight: 400;
                    font-size: 10px;
                    width: 140vh;
                    left: 25px;
                    margin-top: 885px;
                    margin-left: -240px;
                    text-align: center;
                    padding-top: 46px;
                    padding-left: 230px;
             }

             h2{
                color: red;
                float: right;
                margin-right: -75px;
                font-size: 26px;
                 
            }

            #time-left{
                color: white;
                font-size: 15px;
                margin-left: 20px;
                margin-top: 6px;
                font-family: 'Righteous', cursive; 
                list-style: none;
            }

            #time{
                color: red;
                font-size: 20px;
                margin-left: 190px;
                margin-top: -24px;
                list-style: none;
                background-color: white;
                border-radius: 5px;
                margin-right: 6px;
                text-align: center;
                font-weight: bold ;
                box-shadow: rgb(119, 119, 119) -1px 1px;
            }

            #textvlog{
                margin-left: 55px;
                margin-top: 99px;
                position: absolute;
                color: rgb(0, 0, 0);
                top: 1120px;
                text-align: center;
                font-size: 15px;
                height: 66px;
                width: 316px;
            }


            .fo{

                
                margin-top: 1600px;
            }


            .p1{
                margin-top: 1250px;
                text-decoration: none;
                border-radius: 44px;
                background-color: black;
                position: absolute;
                width: 260px;
                height: 312px;
                left: 80px;
                top: 77px;
                color: white;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.363) -5px 8px;
            
            }
            
            .p2{
                margin-top: 1630px;
                text-decoration: none;
                border-radius: 44px;
                background-color: black;
                position: absolute;
                width: 260px;
                height: 312px;
                left: 80px;
                top: 37px;
                color: white;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.363) -5px 8px;
            }
            
            .p3{
                display: none;
                margin-top: 1500px;
                text-decoration: none;
                border-radius: 44px;
                background-color: black;
                position: absolute;
                width: 260px;
                height: 312px;
                left: 900px;
                top: 77px;
                color: white;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.363) -5px 8px;
            
            }  

.img1{
    width: 185px;
}
.img2{
    width: 185px;
}




            .p1 p{
                margin-top: 10px;  
              }
            .p2 p{
                margin-top: 10px;  
              }
            .p3 p{
              margin-top: 10px;  
            }

            
/* imgs */

.imgs{
    grid-template: 2;
    position: absolute;
margin-top: 405px;
margin-left: auto;
left: 63px;
    
}

.imgs1{
    width: 200px;
}

.imgs2{
    
    width: 300px;
}

/* BTN */

.btn{
    position: absolute;
    padding: 9px 45px;
    background-color: black;
    border-radius: 9px;
    cursor: pointer;
    width: 300px;
    margin-top: 960px;
    margin-left: 60px;
    box-sizing: border-box;
    

}

.btn a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}

/* copyrhit */

.copyrhit{
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 35px;
    background-color: black;
    position: absolute;
    
    padding-left: 10px;
}


  }